@using Microsoft.AspNetCore.Http;
@model ApplicationCore.ViewModels.DonHangCreateVM

@{
    ViewData["Title"] = "Create";
}
@* Script for customer *@
{
    <script src="~/js/Controller/donHangController.js"></script>
}

<h3 style="text-align: center;">Đơn hàng</h3>

<h4 style="color:black">Chi tiết đơn hàng</h4>
<hr />
<div class="container" style="color:black">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h6 style="color: black;">Nhập thông tin chi tiết đơn hàng</h6>
                </div>
                <div class="card-body">
                    <form asp-action="Create" >
                        <div class="form-group">
                            <label class="control-label">Tên Sản Phẩm</label>
                            <select asp-for="sanPham.MaSanPham" class="form-control" >
                                @foreach (var item in Model.ThongTinSP)
                                {
                                    <option value="@item.MaSanPham">@item.TenSanPham-@item.Mau</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Size</label>
                            <input asp-for="sanPham.Size" class="form-control" min="1" max="12" required=""/>
                            <span asp-validation-for="sanPham.Size" class="text-danger"></span>
                            <i style="color:red">@ViewData["TenSizeSai"]</i>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Chiết khấu</label>
                            <input asp-for="ChietKhau" class="form-control" min="0" max="100" value="0" required=""/>
                            <span asp-validation-for="ChietKhau" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                             <label class="control-label">Số lượng</label>
                            <input asp-for="sanPham.SoLuongTon" class="form-control" min="1" value="1" required=""/>
                            <span asp-validation-for="sanPham.SoLuongTon" class="text-danger"></span>
                            <i style="color:red">@ViewData["KhongDuHangTon"]</i>
                        </div> 
                        <div class="form-group" style="margin-left:28%">
                            <input type = "submit" value="Thêm Chi tiết" class="btn btn-primary" />
                        </div>
                     </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-header"><h6 style="color: black;">Thông tin đơn hàng</h6></div>
                <div class="card-body">
                   <table class="table ">
                       <thead class="thead-dark">
                           <th>Tên sản phẩm</th>
                           <th>Số lượng</th>
                           <th>Size </th>
                           <th>Đơn giá</th>
                           <th>Chiết khấu</th>
                           <th>Thành tiền</th>     
                           <th></th>          
                       </thead>
                       <tbody>  
                            @for(int i = 0; i < Model.ThongTinCTDH.Count; i++){
                                <tr>
                                    <td>@Model.ThongTinCTDH[i].TenSanPham - @Model.ThongTinCTDH[i].Mau</td>
                                    <td>@Model.ThongTinCTDH[i].SoLuong</td>
                                    <td>@Model.ThongTinCTDH[i].Size</td>
                                    <td>@Model.ThongTinCTDH[i].DonGia</td>
                                    <td>@{ var result =Model.ThongTinCTDH[i].DonGia * Model.ThongTinCTDH[i].SoLuong * Model.ThongTinCTDH[i].ChietKhau / 100;} @result VNĐ(@Model.ThongTinCTDH[i].ChietKhau%)</td>
                                    <td>@Model.ThongTinCTDH[i].ThanhTien VND</td>
                                    <td>
                                        <form asp-action="Remove" asp-controller="DonHang" method="post">
                                            <input name="i" value="@i" type="hidden" />
                                            <input type="submit" class="btn btn-danger" value="Xóa"/>
                                        </form>
                                    </td>
                                </tr>
                            }
                            <tr>
                              <td colspan="5"><div style="margin-left:62%"> Tổng tiền:&nbsp;&nbsp;&nbsp;@Model.TongTien VND</div></td>
                            </tr>
                       </tbody> 
                   </table>
                </div>
                 <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
<div class="row">
<div class="col-sm-12">
            <div class="card">
                <div class="card-header"><h6 style="color: black;">Nhập thông tin giao hàng</h6></div>
                <div class="card-body">
                    <form asp-action="CreateDonHang" asp-controller="DonHang" asp-method="post" >
                        <div class="form-group">
                             <label class="control-label" >Tên khách hàng</label>
                            <input type="text" class="form-control" asp-for="khachHang.MaKhachHang" name="Prefix" id="KHSelect" >
                        </div>
                        <div class="form-group">
                             <label class="control-label" >Mã khách hàng</label>
                            <input type="text" class="form-control" asp-for="khachHang.MaKhachHang" id="MaKhachHang" readonly>
                        </div>
                        <div class="form-group">
                             <label class="control-label">Địa chỉ giao hàng</label>
                            <input asp-for="ThongTinDH.DiaChi" class="form-control" id="DiaChi" required=""/>
                        </div> 
                        <div class="form-group">
                             <label asp-for="@Model.ThongTinDH.PhuongThucVanChuyen" class="control-label"></label>
                            <input asp-for="ThongTinDH.PhuongThucVanChuyen" class="form-control" required=""/>
                        </div> 
                        <div class="form-group">
                            <label asp-for="@Model.ThongTinDH.HinhThucThanhToan" class="control-label"></label>
                            <select class="form-control" asp-for="ThongTinDH.HinhThucThanhToan">
                                <option value="COD">COD</option>
                                <option value="Banking">Banking</option>
                            </select>
                        </div> 
                        <div class="form-group">
                             <label asp-for="@Model.ThongTinDH.ChiPhiVanChuyen" class="control-label"></label>
                            <input asp-for="ThongTinDH.ChiPhiVanChuyen" class="form-control" />
                        </div> 
                        @if(@Context.Session.GetString("VaiTro") == "SuperAdmin")
                        {
                            <div class="form-group">
                             <label asp-for="@Model.ThongTinDH.Ngay" class="control-label"></label>
                            <input type="date" asp-for="ThongTinDH.Ngay" class="form-control" value="@ViewData["Ngay"]" required=""/>
                            </div> 
                        }
                        <div class="form-group">
                             <label asp-for="@Model.ThongTinDH.GhiChu" class="control-label"></label>
                            <input asp-for="ThongTinDH.GhiChu" class="form-control"/>
                        </div> 
                        
                        <div class="form-group" style="margin-left:44%">
                            <input type = "submit" value="Tạo Đơn Hàng" class="btn btn-primary" />
                        </div>
                     </form>
                </div>
            </div>
        </div>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
