@model ApplicationCore.ViewModels.DonHangEditVM

@{
    ViewData["Title"] = "Details";
}
@section jsFooter
{
    <script src="~/js/Controller/donHangController.js"></script>
}
<h3 style="text-align: center;">Đơn hàng</h3>

<h4>Chi tiết đơn hàng</h4>
<div class="col-lg-6">
    <div class="card mb-4">
        <div class="card-body">
        <h5>Thông tin khách hàng</h5>
        <p>Tên khách hàng: <span style="font-weight: bold;">@Model.TenKhachHang</span></p>
        <p>Địa chỉ giao hàng: <span style="font-weight: bold;">@Model.donHang.DiaChi</span></p>
        </div>
    </div>
</div>
    <h5>Chi tiết đơn hàng</h5>
    <hr />
   <table class="table" id="donHang">
    <thead>
        <tr style="text-align: left;">
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Size
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Chiết khấu
            </th>
            <th>
                Thành tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="text-align: left;">
@foreach (var item in Model.listCTDT) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                <div class="form-group" style="text-align: left;">
                    <input class="form-control btn-change-quantity" style="width:60px" value="@item.SoLuong" data-idsanpham="@item.MaSanPham" data-stt="@item.SoThuTu"> 
                </div>
            </td>
            <td>
                <div class="form-group" style="text-align: left;">
                    <input class="form-control btn-change-size" style="width:60px" value="@item.Size" data-idsanpham="@item.MaSanPham" data-stt="@item.SoThuTu"> 
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
             <td>
                <div class="form-group" style="text-align: left;">
                    <input class="form-control btn-change-discount" style="width:60px" value="@item.ChietKhau" min="0" max="100" data-stt="@item.SoThuTu"> 
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                <a class="btn btn-danger btn-remove" data-stt="@item.SoThuTu">
                    <i class="fas fa-trash btn-delete-item" style="color: white;" stt="@item.SoThuTu"></i>
                </a>
            </td>
        </tr>
}
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: left;">Tổng tiền:       @Model.donHang.TongTien</td>
    </tbody>
</table>
<form asp-action="Edit" asp-controller="DonHang" asp-method="post">
<div class="col-lg-6">
    <div class="card mb-4">
        <div class="card-body">
        <h5>Thông tin đơn hàng hàng</h5>
            <div class="form-group">
                <label>Hình thức vận chuyển</label>
                <input asp-for="donHang.PhuongThucVanChuyen" class="form-control" value="@Model.donHang.PhuongThucVanChuyen"> 
            </div>
            <div class="form-group">
                <label >Chi phí vận chuyển</label>
                <input asp-for="donHang.ChiPhiVanChuyen" class="form-control" value="@Model.donHang.ChiPhiVanChuyen" >
            </div>
            <div class="form-group">
                <label>Ghi chú</label>
                <textarea asp-for="donHang.GhiChu" class="form-control" id="exampleFormControlTextarea1" name="comment"  rows="3">@Model.donHang.GhiChu</textarea>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center" class="form-group">
    <input type="hidden" asp-for="donHang.MaDonHang" class="form-control" >
    <input type="submit" value="Lưu thay đổi" class="btn btn-primary" > 
</div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
