@model ApplicationCore.ViewModels.DonHangIndexVM

@{
    ViewData["Title"] = "Index";
}

<h3 style="text-align: center;">Đơn hàng</h3>
@section jsFooter
{
    <script src="~/js/Controller/donHangController.js"></script>
}
<a asp-action="Create">
        <button type="button" class="btn btn-info">
            Tạo đơn hàng mới
        </button>
    </a>
<form method="get">
    <p>
        Tình trạng đơn hàng:
        <div class="input-group mb-3">
            <select class="form-control" name="sort" style="width:20px;" placeholder="@ViewData["TinhTrangDonHang"]">
                @if(ViewData["TinhTrangDonHang"] as string == "Tất cả" || ViewData["TinhTrangDonHang"] as string == null)
                {
                    <option selected value="Tất cả">Tất cả</option>
                    <option value="Đã tạo đơn">Đã tạo</option>
                    <option value="Đang giao hàng">Đang giao hàng</option>
                    <option value="Hoàn thành">Hoàn thành</option>
                    <option value="Đã hủy">Đã hủy</option>
                }
                @if(ViewData["TinhTrangDonHang"] as string == "Đã tạo đơn")
                {
                    <option value="Tất cả">Tất cả</option>
                    <option selected value="Đã tạo đơn">Đã tạo đơn</option>
                    <option value="Đang giao hàng">Đang giao hàng</option>
                    <option value="Hoàn thành">Hoàn thành</option>
                    <option value="Đã hủy">Đã hủy</option>
                }
                @if(ViewData["TinhTrangDonHang"] as string == "Đang giao hàng")
                {
                    <option value="Tất cả">Tất cả</option>
                    <option value="Đã tạo đơn">Đã tạo đơn</option>
                    <option selected value="Đang giao hàng">Đang giao hàng</option>
                    <option value="Hoàn thành">Hoàn thành</option>
                    <option value="Đã hủy">Đã hủy</option>
                }
                @if(ViewData["TinhTrangDonHang"] as string == "Hoàn thành")
                {
                    <option value="Tất cả">Tất cả</option>
                    <option selected value="Đã tạo đơn">Đã tạo đơn</option>
                    <option value="Đang giao hàng">Đang giao hàng</option>
                    <option  selected value="Hoàn thành">Hoàn thành</option>
                    <option value="Đã hủy">Đã hủy</option>
                }
                @if(ViewData["TinhTrangDonHang"] as string == "Đã hủy")
                {
                    <option value="Tất cả">Tất cả</option>
                    <option selected value="Đã tạo đơn">Đã tạo đơn</option>
                    <option value="Đang giao hàng">Đang giao hàng</option>
                    <option value="Hoàn thành">Hoàn thành</option>
                    <option selected value="Đã hủy">Đã hủy</option>
                }
            </select>
            <div class="input-group-append">
               <input type="submit" class="btn btn-primary" class="input-group-text" value="Tìm kiếm">
            </div>
        </div>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Ngày
            </th>
            <th>
                Phương thức vận chuyển
            </th>
            <th>
                Hình thức thanh toán
            </th>
            <th>
                Chi phí vận chuyển
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Tổng tiền
            </th>
             <th>
                Tình trạng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DonHangs) {
    @if(item.TinhTrang=="Đã tạo đơn")
    {
        <tr style="background-color: yellow;">
            <td >
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiPhiVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                        @if(item.TinhTrang == "Đã tạo đơn")
                        {
                            <select class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-id="@item.MaDonHang">
                            <option class="btn-changestatus" data-sort="@ViewData["TinhTrangDonHang"]" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" selected   value="Đã tạo đơn">
                            Đã tạo đơn
                            </option>
                            <option class="btn-changestatus" data-sort="@ViewData["TinhTrangDonHang"]" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đang giao hàng">
                            Đang giao hàng
                            </option>
                            <option class="btn-changestatus" data-sort="@ViewData["TinhTrangDonHang"]" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Hoàn thành">
                            Hoàn thành
                            </option>
                            <option class="btn-changestatus" data-sort="@ViewData["TinhTrangDonHang"]" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Đã hủy">
                            Đã hủy
                            </option>
                            </select>
                        }
                        else if(item.TinhTrang == "Đang giao hàng")
                        {
                            <select class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-id="@item.MaDonHang">
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"   value="Đã tạo đơn">
                            Đã tạo đơn
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" selected  value="Đang giao hàng">
                            Đang giao hàng
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Hoàn thành">
                            Hoàn thành
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Đã hủy">
                            Đã hủy
                            </option>
                            </select>
                        }
                        else if(item.TinhTrang == "Hoàn thành")
                        {
                            <select class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-id="@item.MaDonHang">
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đã tạo đơn">
                            Đã tạo đơn
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đang giao hàng">
                            Đang giao hàng
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" selected  value="Hoàn thành">
                            Hoàn thành
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đã hủy">
                            Đã hủy
                            </option>
                            </select>
                        }
                        else if(item.TinhTrang == "Đã hủy")
                        {
                            <select class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-id="@item.MaDonHang" disabled>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đã tạo đơn">
                            Đã tạo đơn
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đang giao hàng">
                            Đang giao hàng
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Hoàn thành">
                            Hoàn thành
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" selected  value="Đã hủy">
                            Đã hủy
                            </option>
                            </select>
                        }
            </td>
            @if(item.TinhTrang != "Đã hủy")
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaDonHang">Details</a> 
                </td>
            }
        </tr>
        }
    else
    {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiPhiVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                        @if(item.TinhTrang == "Đã tạo đơn")
                        {
                            <select class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-id="@item.MaDonHang">
                            <option class="btn-changestatus" data-sort="@ViewData["TinhTrangDonHang"]" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" selected   value="Đã tạo đơn">
                            Đã tạo đơn
                            </option>
                            <option class="btn-changestatus" data-sort="@ViewData["TinhTrangDonHang"]" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đang giao hàng">
                            Đang giao hàng
                            </option>
                            <option class="btn-changestatus" data-sort="@ViewData["TinhTrangDonHang"]" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Hoàn thành">
                            Hoàn thành
                            </option>
                            <option class="btn-changestatus" data-sort="@ViewData["TinhTrangDonHang"]" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Đã hủy">
                            Đã hủy
                            </option>
                            </select>
                        }
                        else if(item.TinhTrang == "Đang giao hàng")
                        {
                            <select class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-id="@item.MaDonHang">
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"   value="Đã tạo đơn">
                            Đã tạo đơn
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" selected  value="Đang giao hàng">
                            Đang giao hàng
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Hoàn thành">
                            Hoàn thành
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Đã hủy">
                            Đã hủy
                            </option>
                            </select>
                        }
                        else if(item.TinhTrang == "Hoàn thành")
                        {
                            <select class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-id="@item.MaDonHang">
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đã tạo đơn">
                            Đã tạo đơn
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đang giao hàng">
                            Đang giao hàng
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" selected  value="Hoàn thành">
                            Hoàn thành
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đã hủy">
                            Đã hủy
                            </option>
                            </select>
                        }
                        else if(item.TinhTrang == "Đã hủy")
                        {
                            <select class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-id="@item.MaDonHang" disabled>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đã tạo đơn">
                            Đã tạo đơn
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" value="Đang giao hàng">
                            Đang giao hàng
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang"  value="Hoàn thành">
                            Hoàn thành
                            </option>
                            <option class="btn-changestatus" data-pageindex="@Model.DonHangs.PageIndex" data-status="Đã tạo đơn" data-id="@item.MaDonHang" selected  value="Đã hủy">
                            Đã hủy
                            </option>
                            </select>
                        }
            </td>
            @if(item.TinhTrang != "Đã hủy")
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaDonHang">Details</a> 
                </td>
            }
        </tr>
        }
    }
    </tbody>
</table>
@{
    var disNext= !Model.DonHangs.HasNext ? " visibility: hidden" : "";   
    var disPre= !Model.DonHangs.HasPrevious ? " visibility: hidden" : "";   
}

<ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disPre"
        asp-route-pageIndex="@( Model.DonHangs.PageIndex - 1 )"
        asp-route-currentFilter="@ViewBag.CurrentFilter"> Previous </a>
    </li>           
        @{     
            for(int i=1; i <= Model.DonHangs.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if(Model.DonHangs.TotalPages>=8 && @i>=Model.DonHangs.PageIndex-2 && @i<=Model.DonHangs.PageIndex+2)
                {
                    if(@i==Model.DonHangs.PageIndex-2 && @i>1)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                    if(@i==Model.DonHangs.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else 
                    {
                        <li class="page-item ">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                    if(@i==Model.DonHangs.PageIndex+2 && @i<Model.DonHangs.TotalPages)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                }
                else if( Model.DonHangs.TotalPages < 8 ) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                     if(@i==Model.DonHangs.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                }         
			}
		}
<li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disNext"
        asp-route-pageIndex="@( Model.DonHangs.PageIndex + 1 )"
        asp-route-currentFilter="@ViewBag.CurrentFilter"> Next </a>
</li>
</ul>

