@model ApplicationCore.Entities.NhanVien
@{
    Layout = null;
} 
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="~/img/logo/logo.png" rel="icon">
  <title>Register</title>
  <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="~/css/ruang-admin.min.css" rel="stylesheet">

</head>
  @if(ViewData["ThongBaoThanhCong"] != null)
  {
    <h4>@ViewData["ThongBaoThanhCong"]</h4>
  }
<body class="bg-gradient-login">
  <!-- Register Content -->
  <div class="container-login">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Đăng Ký</h1>
                  </div>
                  <form asp-controller="Account" asp-action="Create" method="POST">
                    <div class="form-group">
                      <label>Họ và Tên</label>
                      <input asp-for="HoTen" class="form-control" required=""/>
                    </div>
                    <div class="form-group">
                      <label>Số điện thoại</label>
                      <input asp-for="SDT" type="text" class="form-control" id="exampleInputLastName" placeholder="Nhập số điện thoại">
                      <i style="color:red">@ViewData["SDT"]</i>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Giới tính</label>
                      <select asp-for="GioiTinh" class="form-control" id="exampleFormControlSelect1">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Tên đăng nhập</label>
                      <input asp-for="TenDangNhap" type="text" class="form-control" id="exampleInputLastName" placeholder="Nhập tên đăng nhập">
                      <i style="color:red">@ViewData["TenDangNhap"]</i>
                    </div>
                    <div class="form-group">
                      <label>Mật khẩu</label>
                      <input asp-for="MatKhau" type="password" class="form-control" id="exampleInputPassword" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                      <label>Xác nhận mật khẩu</label>
                      <input type="password" class="form-control" name="MatKhauXacNhan"
                        placeholder="Nhập lại mật khẩu">
                      <i style="color:red">@ViewData["MatKhauXacNhan"]</i> 
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-block" value="Đăng ký" /> 
                    </div>
                  </form>
                  
                  <hr>
                  <div class="text-center">
                    <a class="font-weight-bold small" asp-action="Index" asp-controller="Account">Already have an account?</a>
                  </div>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Register Content -->
  <script src="~/vendor/jquery/jquery.min.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="~/js/ruang-admin.min.js"></script>
</body>

</html>