@{
    Layout = null;
} 
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="~/img/logo/logo.png" rel="icon">
  <title>Login</title>
  <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="~/css/ruang-admin.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-login">
  <!-- Login Content -->

  @if(ViewData["ChuaDuyet"] != null)
  {
    <h4>@ViewData["ChuaDuyet"]</h4>
  }
  <div class="container-login">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                  </div>
                  @using (Html.BeginForm("Index","Account", FormMethod.Post, new { @class = "user" }))
                  {
                    <div class="form-group">
                      <input type="text" class="form-control" name="TenDangNhap" id="exampleInputEmail" aria-describedby="emailHelp"
                        placeholder="Tên đăng nhập">
                    </div>
                    <div class="form-group">
                      <input type="password" name="MatKhau" class="form-control" id="exampleInputPassword" placeholder="Mật Khẩu">
                    </div>
                      <i style="color:red">@ViewData["ThongBao"]</i>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Ghi Nhớ Đăng Nhập</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-block" value="Đăng Nhập" /> 
                    </div>
                    <hr>
                  }
                  
                  <hr>
                  <div class="text-center">
                    <a class="font-weight-bold small" asp-action="Create" asp-controller="Account">Create an Account!</a>
                  </div>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login Content -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.min.js"></script>
</body>

</html>