@model ApplicationCore.ViewModels.ThongKeDonHangVM

@{
    ViewData["Title"] = "Index";
}
<h3 style="text-align: center;">Thống kê</h3>
<form asp-action="Index" method="get">
    <p>
        Tìm Tên:
        <div class="input-group">
            <div class="col-3 col-sm-3 col-lg-3 col-md-3 col-xl-3">
            <input type="date" class="form-control" name="From"  value="@ViewData["From"]" />
            </div>
            <div class="col-3 col-sm-3 col-lg-3 col-md-3 col-xl-3">
            <input type="date" class="form-control" name="To" id="to"  value="@ViewData["To"]" />
            </div>
            <div class="col-3 col-sm-3 col-lg-3 col-md-3 col-xl-3">
            <select class="form-control" name="Choice"> 
                    <option value="Đơn hàng" selected>Đơn hàng</option>
                    <option value="Sản phẩm">Sản phẩm</option>
                    <option value="Màu">Màu</option>
            </select>
            </div>
            <div class="input-group-append">
               <input type="submit" class="btn btn-primary" class="input-group-text" value="Tìm kiếm">
            </div>
        </div>
    </p>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Ngày
            </th>
            <th>
                Phương thức vận chuyển
            </th>
            <th>
                Hình thức thanh toán
            </th>
            <th>
                Chi phí vận chuyển
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Tổng tiền
            </th>
             <th>
                Tình trạng
            </th>
            <th>
                Giá gốc
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.listDonHang) {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.DonHang.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.PhuongThucVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.HinhThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.ChiPhiVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaGoc)
            </td>
        </tr>
}
    </tbody>
</table>
  <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card" >
                <div class="card-header">
                    <h5 style="color: black;font-weight:bold;text-align:center">Thống kê từ ngày @ViewData["TitleFrom"] đến ngày @ViewData["TitleTo"]</h5>
                </div>
                <div class="card-body">
                    <p>Tổng số đơn hàng:    <span style="font-weight:bold;">@Model.TongSoDonHang</span></p>
                    <p>Doanh thu:           <span style="font-weight:bold;">@Model.DoanhThu</span></p> 
                    <p>Chi phí vận chuyển:  <span style="font-weight:bold;">@Model.TongTienShip</span></p> 
                    <p>Tiền nhập hàng:      <span style="font-weight:bold;">@Model.TienNhapHang</span></p> 
                    <p>Lợi nhuận:           <span style="font-weight:bold;">@Model.LoiNhuan</span></p> 
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
  </div>

