@model List<ApplicationCore.ViewModels.ThongKeMauVM>;
@{
    ViewData["Title"] = "Thống kê";
}

<h3 style="text-align: center;">Thống kê</h3>

<form asp-action="Index" method="get">
    <p>
        Tìm Tên:
        <div class="input-group">
            <div class="col-3 col-sm-3 col-lg-3 col-md-3 col-xl-3">
            <input type="date" class="form-control" name="From"  value="@ViewData["From"]" />
            </div>
            <div class="col-3 col-sm-3 col-lg-3 col-md-3 col-xl-3">
            <input type="date" class="form-control" name="To" id="to"  value="@ViewData["To"]" />
            </div>
            <div class="col-3 col-sm-3 col-lg-3 col-md-3 col-xl-3">
            <select class="form-control" name="Choice"> 
                    <option value="Đơn hàng">Đơn hàng</option>
                    <option value="Sản phẩm">Sản phẩm</option>
                    <option value="Màu" selected >Màu</option>
            </select>
            </div>
            <div class="input-group-append">
               <input type="submit" class="btn btn-primary" class="input-group-text" value="Tìm kiếm">
            </div>
        </div>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Màu
            </th>
            <th>
                Số lượng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.TenMau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
        </tr>
}
    </tbody>
</table>