@model List<ApplicationCore.ViewModels.ThongKeSanPhamVM>

@{
    ViewData["Title"] = "Thống kê";
}
<style>
    .flex-div {
width: auto;
height: 80px;
line-height: 75px;
text-align: center;
}
</style>
<h3 style="text-align: center;">Thống kê</h3>

<form asp-action="Index" method="get">
    <p>
        Tìm Tên:
        <div class="input-group">
            <div class="col-3 col-sm-3 col-lg-3 col-md-3 col-xl-3">
            <input type="date" class="form-control" name="From"  value="@ViewData["From"]" />
            </div>
            <div class="col-3 col-sm-3 col-lg-3 col-md-3 col-xl-3">
            <input type="date" class="form-control" name="To" id="to"  value="@ViewData["To"]" />
            </div>
            <div class="col-3 col-sm-3 col-lg-3 col-md-3 col-xl-3">
            <select class="form-control" name="Choice"> 
                    <option value="Đơn hàng">Đơn hàng</option>
                    <option value="Sản phẩm" selected>Sản phẩm</option>
                    <option value="Màu">Màu</option>
            </select>
            </div>
            <div class="input-group-append">
               <input type="submit" class="btn btn-primary" class="input-group-text" value="Tìm kiếm">
            </div>
        </div>
    </p>
</form>
<table class="table table-bordered col-12 col-sm-12 col-md-12 col-xl-12 table-striped" style="text-align: center;">
        <thead class="thead-light">
        <tr style="font-weight: bold;font-size: 14">
            <th rowspan="2" class="flex-div" style="align-items: center;">
                Tên sản phẩm
            </th>
            <th colspan="12" style="text-align:center">
                Size
            </th>
            <th rowspan="2" class="flex-div" style="align-items: center;">
                Tổng
            </th>
        </tr>
        <tr>
            <th>
                1
            </th>
            <th>
                2
            </th>
            <th>
                3
            </th>
            <th>
                4
            </th>
            <th>
                5
            </th>
            <th>
                6
            </th>
             <th>
                7
            </th>
            <th>
                8
            </th>
            <th>
                9
            </th>
            <th>
                10
            </th>
            <th>
                11
            </th>
            <th>
                12
            </th>
        </tr>
        </thead>
        <tbody >
        @foreach(var item in Model)
        {
            <tr class="flex-div">
                <td><img style="height: 70px;width:auto;" src="~/img/@item.img"> @item.TenSanPham</td>
            
            @foreach(int element in item.SoLuongMoiSize)
            {
                <td>@element</td>
            }
            <td>@item.SoLuongSanPham</td>
            </tr>
        }
        <tr>
            <td>Tổng</td>
                @for(int i=0;i<12;i++)
                {
                    double result = 0;
                    @foreach (var item in Model)
                    {
                        result =result+ item.SoLuongMoiSize[i];
                    }
                    <td>@result</td>
                }
            <td></td>
        </tr>
        </tbody>
</table>