@model ApplicationCore.ViewModels.SanPhamCreateVM;

@{
    ViewData["Title"] = "Create";
}

<h1 style="color:black;text-align:center">Thêm Sản Phẩm Mới</h1>

<h3 style="text-align: center;">Sản phẩm</h3>

<hr />
<div class="row" style="text-align:left">
    <div class="col-md-3"></div>
    <div class="col-md-3" style="color:black" style="text-align:left">
        <form enctype="multipart/form-data" asp-action="Create" method="POST">
            <div class="form-group">
                <label asp-for="sanPham.MaBoSuuTap" class="control-label"></label>
                @* <input asp-for="sanPham.MaBoSuuTap" class="form-control" /> *@
                <select asp-for="@Model.sanPham.MaBoSuuTap" class="form-control">
                    @foreach (var item in @Model.listBST)
                    {
                        <option value="@item.MaBoSuuTap">@item.TenBoSuuTap</option>
                    }
                </select>
                <span asp-validation-for="sanPham.MaBoSuuTap" class="text-danger" style="color:red"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.sanPham.TenSanPham" class="control-label"></label>
                <input asp-for="@Model.sanPham.TenSanPham" class="form-control" />
                <span asp-validation-for="sanPham.TenSanPham" class="text-danger"></span>
                <i style="color:red">@ViewData["TenSanPham"]</i>
            </div>
            @* <div class="form-group">    
                <label asp-for="@Model.sanPham.LoaiSanPham" class="control-label"></label>
                <input asp-for="@Model.sanPham.LoaiSanPham" class="form-control" />
                <span asp-validation-for="sanPham.LoaiSanPham" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="@Model.sanPham.GiaGoc" class="control-label"></label>
                <div class="form-group" style="display: inline-flex;width:col-md-3">
                <input placeholder="Ri 1-4 .." name="Gia1" class="form-control" />
                <input placeholder="Ri 5-8 .." name="Gia2" class="form-control" />
                <input placeholder="Ri 9-12 .." name="Gia3" class="form-control" />
                </div>
                <span asp-validation-for="sanPham.GiaGoc" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.sanPham.GiaBan" class="control-label"></label>
                <input asp-for="@Model.sanPham.GiaBan" class="form-control" />
                <span asp-validation-for="@Model.sanPham.GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.sanPham.ChatLieu" class="control-label"></label>
                <input asp-for="@Model.sanPham.ChatLieu" class="form-control" />
                <span asp-validation-for="@Model.sanPham.ChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.sanPham.Mau" class="control-label"></label>
                <input asp-for="@Model.sanPham.Mau" class="form-control" />
                <span asp-validation-for="@Model.sanPham.Mau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.sanPham.HinhAnh" class="control-label"></label>
                <input type="file" name="file"  />
                <span asp-validation-for="@Model.sanPham.HinhAnh" class="text-danger">@ViewData["HinhAnh"]</span>
            </div>
            <div class="form-group">
                <input hidden value="@Model.listBST" asp-for="@Model.listBST">
                <input type="submit" value="Thêm sản phẩm mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

