@model List<ApplicationCore.Entities.SanPham>

@{
    ViewData["Title"] = "Details";
}

<h3 style="text-align: center;">Sản phẩm</h3>

<div style="text-align:left">
    <hr />
    <dl class="row" style="color:black">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].MaBoSuuTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[0].MaBoSuuTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[0].TenSanPham)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].LoaiSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[0].LoaiSanPham)
        </dd> *@
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[0].GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].ChatLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model[0].ChatLieu)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model[0].HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            <img style="height: 150px;weight:auto" src="~/img/@Html.DisplayFor(model => model[0].HinhAnh)">
        </dd>
    </dl>
</div>
                <table class="table">
            <thead>
                <tr>
                <th scope="col">Size</th>
                <th scope="col">Giá Gốc</th>
                <th scope="col">Số Lượng Tồn</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        {
                        <tr>
                        <th scope="row">@Html.DisplayFor(model => item.Size)</th>
                        <td>@Html.DisplayFor(model =>item.GiaGoc)</td>
                        <td>@Html.DisplayFor(model =>item.SoLuongTon)</td>
                        <td></td>
                        </tr>
                        }
                    }
            </tbody>
            </table>
<div>
    <!--TODO asp-route-id-->
    @{
        var sanpham = Model[0];
    }
    <a asp-action="Edit" asp-route-id="@sanpham.MaSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>