@model ApplicationCore.ViewModels.SanPhamEditVM;

@{
    ViewData["Title"] = "Edit";
}
<h3 style="text-align: center;">Sản phẩm</h3>


<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="color:black" style="text-align:left">
        <form enctype="multipart/form-data" asp-action="Edit" method="POST">
            <div class="form-group">
                <label asp-for="sanPham.MaBoSuuTap" class="control-label"></label>
                @* <input asp-for="sanPham.MaBoSuuTap" class="form-control" /> *@
                <select asp-for="@Model.sanPham.MaBoSuuTap" class="form-control">
                    @foreach (var item in @Model.listBST)
                    {
                        @if(@item.MaBoSuuTap == @Model.sanPham.MaBoSuuTap )
                        {
                        <option value="@item.MaBoSuuTap" selected>@item.TenBoSuuTap</option>
                        }
                        else
                        {
                        <option value="@item.MaBoSuuTap">@item.TenBoSuuTap</option>
                        }
                    }
                </select>
                <span asp-validation-for="sanPham.MaBoSuuTap" class="text-danger" style="color:red"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.sanPham.TenSanPham" class="control-label"></label>
                <input asp-for="@Model.sanPham.TenSanPham" class="form-control" value="@Model.sanPham.TenSanPham"/>
                <span asp-validation-for="sanPham.TenSanPham" class="text-danger"></span>
                <i style="color:red">@ViewData["TenSanPham"]</i>
            </div>
            @* <div class="form-group">    
                <label asp-for="@Model.sanPham.LoaiSanPham" class="control-label"></label>
                <input asp-for="@Model.sanPham.LoaiSanPham" class="form-control" value="@Model.sanPham.LoaiSanPham" />
                <span asp-validation-for="sanPham.LoaiSanPham" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="@Model.sanPham.GiaGoc" class="control-label"></label>
                <div class="form-group" style="display: inline-flex;width:col-md-3">
                <input placeholder="Ri 1-4 .." asp-for="@Model.Gia1" class="form-control" value="@Model.Gia1" />
                <input placeholder="Ri 5-8 .." asp-for="@Model.Gia2" class="form-control" value="@Model.Gia2" />
                <input placeholder="Ri 9-12 .." asp-for="@Model.Gia3" class="form-control" value="@Model.Gia3" />
                </div>
                <span asp-validation-for="sanPham.GiaGoc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Hàng tồn của mỗi size</label>
                <div class="form-group" style="display: inline-flex;width:col-md-4">
                <input placeholder="tồn size 1" asp-for="@Model.hangTonSize1" class="form-control" value="@Model.hangTonSize1" />
                <input placeholder="tồn size 2" asp-for="@Model.hangTonSize2" class="form-control" value="@Model.hangTonSize2" />
                <input placeholder="tồn size 3" asp-for="@Model.hangTonSize3" class="form-control" value="@Model.hangTonSize3" />
                <input placeholder="tồn size 4" asp-for="@Model.hangTonSize4" class="form-control" value="@Model.hangTonSize4" />
                </div>
                <div class="form-group" style="display: inline-flex;width:col-md-4">
                <input placeholder="tồn size 5" asp-for="@Model.hangTonSize5" class="form-control" value="@Model.hangTonSize5" />
                <input placeholder="tồn size 6" asp-for="@Model.hangTonSize6" class="form-control" value="@Model.hangTonSize6" />
                <input placeholder="tồn size 7" asp-for="@Model.hangTonSize7" class="form-control" value="@Model.hangTonSize7" />
                <input placeholder="tồn size 8" asp-for="@Model.hangTonSize8" class="form-control" value="@Model.hangTonSize8" />
                </div>
                <div class="form-group" style="display: inline-flex;width:col-md-4">
                <input placeholder="tồn size 9" asp-for="@Model.hangTonSize9" class="form-control" value="@Model.hangTonSize9" />
                <input placeholder="tồn size 10" asp-for="@Model.hangTonSize10" class="form-control" value="@Model.hangTonSize10" />
                <input placeholder="tồn size 11" asp-for="@Model.hangTonSize11" class="form-control" value="@Model.hangTonSize11" />
                <input placeholder="tồn size 12" asp-for="@Model.hangTonSize12" class="form-control" value="@Model.hangTonSize12" />
                </div>
                <span asp-validation-for="sanPham.SoLuongTon" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.sanPham.GiaBan" class="control-label"></label>
                <input asp-for="@Model.sanPham.GiaBan" class="form-control" value="@Model.sanPham.GiaBan" />
                <span asp-validation-for="@Model.sanPham.GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.sanPham.ChatLieu" class="control-label"></label>
                <input asp-for="@Model.sanPham.ChatLieu" class="form-control" value="@Model.sanPham.ChatLieu" />
                <span asp-validation-for="@Model.sanPham.ChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.sanPham.Mau" class="control-label"></label>
                <input asp-for="@Model.sanPham.Mau" class="form-control" value="@Model.sanPham.Mau" />
                <span asp-validation-for="@Model.sanPham.Mau" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.sanPham.HinhAnh" class="control-label"></label>
                <input type="file" name="file"  />
                <span asp-validation-for="@Model.sanPham.HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden value="@Model.sanPham.TenSanPham" name="TenSanPham">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
