@using Microsoft.AspNetCore.Http;
@model ApplicationCore.ViewModels.SanPhamIndexVM

@{
    ViewData["Title"] = "Index";
}

<h3 style="text-align: center;">Sản phẩm</h3>
<a asp-action="Create">
        <button type="button" class="btn btn-info">
            Tạo sản phẩm mới
        </button>
    </a>
<form method="get">
    <p>
        Bộ lọc :
        <div class="input-group mb-3">
            <select class="form-control" name="sort" style="width:100px;">
            @if(@ViewData["sort"].ToString() == "")
            {   @foreach (var item in @Model.listBST)
                {
                <option value="@item.TenBoSuuTap">@item.TenBoSuuTap</option>
                }
            }
            else
                @foreach (var item in @Model.listBST)
                {
                    if(item.TenBoSuuTap == ViewData["sort"].ToString())
                    {
                        <option value="@item.TenBoSuuTap" selected>@item.TenBoSuuTap</option>
                    }
                    else
                    {
                        <option value="@item.TenBoSuuTap">@item.TenBoSuuTap</option>
                    }
                }
            </select>
            <input type="text" class="form-control" name="CurrentFilter" style="width:20px;" value="@ViewData["CurrentFilter"]" placeholder="Nhập tên sản phẩm..." />
            <div class="input-group-append">
               <input type="submit" class="btn btn-primary" class="input-group-text" value="Tìm kiếm">
            </div>
        </div>
    </p>
</form>
    <div class="container">
        <div class="row">
            @foreach (var item in Model.SanPhams) {
   
        <div class="col-md-3 col-sm-6 col-6">
            <div class="single-food">
                <div class="food-img">
                    <a asp-action="Details" asp-controller="SanPham" asp-route-id="@item.TenSanPham" asp-route-color="@item.Mau">
                    <img src="img/@item.HinhAnh" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="food-content" style="color:black;">
                    <div class="d-flex justify-content-between">
                        <h5 style="color : black;margin:0px">@Html.DisplayFor(modelItem => item.TenSanPham)</h5>
                        <span class="style-change">@Html.DisplayFor(modelItem => item.GiaBan)</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span >@Html.DisplayFor(modelItem => item.TenBoSuuTap)</span>
                        <span class="style-change">@Html.DisplayFor(modelItem => item.ChatLieu)</span>
                    </div>
                <br>
                </div>
            </div>
        </div>
}
</div>
</div>
@{
    var disNext= !Model.SanPhams.HasNext ? " visibility: hidden" : "";   
    var disPre= !Model.SanPhams.HasPrevious ? " visibility: hidden" : "";   
}

<ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disPre"
        asp-route-pageIndex="@( Model.SanPhams.PageIndex - 1 )"
        asp-route-currentFilter="@ViewBag.CurrentFilter"> Previous </a>
    </li>           
        @{     
            for(int i=1; i <= Model.SanPhams.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if(Model.SanPhams.TotalPages>=8 && @i>=Model.SanPhams.PageIndex-2 && @i<=Model.SanPhams.PageIndex+2)
                {
                    if(@i==Model.SanPhams.PageIndex-2 && @i>1)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                    if(@i==Model.SanPhams.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else 
                    {
                        <li class="page-item ">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                    if(@i==Model.SanPhams.PageIndex+2 && @i<Model.SanPhams.TotalPages)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                }
                else if( Model.SanPhams.TotalPages < 8 ) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                     if(@i==Model.SanPhams.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                }         
			}
		}
<li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disNext"
        asp-route-pageIndex="@( Model.SanPhams.PageIndex + 1 )"
        asp-route-currentFilter="@ViewBag.CurrentFilter"> Next </a>
</li>  
</ul>
