@using Microsoft.AspNetCore.Http;
@model IEnumerable<ApplicationCore.Entities.NhanVien>
@{
    ViewData["Title"] = "Index";
}
<h3 style="text-align: center;">Nhân viên</h3>

@section jsFooter
{
    <script src="~/js/Controller/nhanVienController.js"></script>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaiTro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @if(@Context.Session.GetString("VaiTro") == "Admin")
                {
                @Html.DisplayFor(modelItem => item.VaiTro)
                }
                @if(@Context.Session.GetString("VaiTro") == "SuperAdmin")
                {
                    if(@item.VaiTro == "Member")
                    {
                        <select class="btn-change-role" data-id="@item.MaNhanVien">
                            <option selected   value="Member">
                            Member
                            </option>
                            <option   value="Admin">
                            Admin
                            </option>
                        </select>
                    }
                    else if (@item.VaiTro == "Admin")
                    {
                        <select class="btn-change-role" data-id="@item.MaNhanVien">
                            <option   value="Member">
                            Member
                            </option>
                            <option selected   value="Admin">
                            Admin
                            </option>
                        </select>
                    }
                    else if (@item.VaiTro == "SuperAdmin")
                    {
                    @Html.DisplayFor(modelItem => item.VaiTro)
                    }
                }
            </td>
                  @if(@item.VaiTro == "SuperAdmin")
                  {
                    <td>Hoạt động</td>
                  }
                  else
                  {
                      @if(@item.TrangThai == 1)
                    {
                        <td>
                        <select class="btn-changestatus" data-id="@item.MaNhanVien">
                            <option selected   value="1">
                            Hoạt động
                            </option>
                            <option   value="0">
                            Ngưng hoạt động
                            </option>
                        </select></td>
                    }
                     else if(@item.TrangThai == 0)
                    {
                        <td>
                        <select class="btn-changestatus" data-id="@item.MaNhanVien">
                            <option value="1">
                            Hoạt động
                            </option>
                            <option selected value="0">
                            Ngưng hoạt động
                            </option>
                        </select>
                        </td>
                    }
                  }
        </tr>
}
    </tbody>
</table>
