﻿@model ApplicationCore.ViewModels.HomeIndexVM
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-xl-4 col-md-4 mb-4">
            <div class="card h-100">
            <div class="card-body">
                <div class="row align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Doanh thu tháng này</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.DoanhThuThangHienTai đồng</div>
                    <div class="mt-2 mb-0 text-muted text-xs">
                    @if(@Model.PhanTramDoanhThu<0)
                    {
                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i>@Model.PhanTramDoanhThu% </span>
                    }
                    @if(@Model.PhanTramDoanhThu>0)
                    {
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>@Model.PhanTramDoanhThu% </span>
                    }
                    <span>Since last month</span>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-primary"></i>
                </div>
                </div>
            </div>
            </div>
    </div>
    <div class="col-xl-4 col-md-4 mb-4">
            <div class="card h-100">
            <div class="card-body">
                <div class="row align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Số lượng khách hàng</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.SoLuongKhachHang</div>
                    <div class="mt-2 mb-0 text-muted text-xs">
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-users fa-2x text-info"></i>
                </div>
                </div>
            </div>
            </div>
    </div>
    <div class="col-xl-4 col-md-4 mb-4">
            <div class="card h-100">
            <div class="card-body">
                <div class="row align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Đơn hàng</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.SoLuongDonHang</div>
                    <div class="mt-2 mb-0 text-muted text-xs">
                    @if(@Model.PhanTramDonHang<0)
                    {
                    <span class="text-danger mr-2"><i class="fa fa-arrow-down"></i>@Model.PhanTramDonHang% </span>
                    }
                    @if(@Model.PhanTramDonHang>0)
                    {
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>@Model.PhanTramDonHang% </span>
                    }
                    <span>Since last month</span>
                    </div>
                </div>
                <div class="col-auto">
                      <i class="fas fa-shopping-cart fa-2x text-success"></i>
                </div>
                </div>
            </div>
            </div>
    </div>
</div>
<div class="text-center" style="opacity: 0.75;">
    <img src="img/logo/logo3.jpg">
</div>
