@model ApplicationCore.ViewModels.KhachHangIndexVM

@{
    ViewData["Title"] = "Index";
}
<h3 style="text-align: center;">Khách hàng</h3>

<a asp-action="Create">
        <button type="button" class="btn btn-info">
            Tạo khách hàng mới
        </button>
    </a>
<form method="get">
    <p>
        Tìm Tên/Số điện thoại:
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="CurrentFilter" style="width:20px;" value="@ViewData["CurrentFilter"]" placeholder="Nhập tên/Số điện thoại..." />
            <div class="input-group-append">
               <input type="submit" class="btn btn-primary" class="input-group-text" value="Tìm kiếm">
            </div>
        </div>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Khách Hàng
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Liên hệ
            </th>
            <th>
                Số đơn hàng
            </th>
            <th>
                Tổng tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KhachHangs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.khachHang.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.khachHang.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.khachHang.DiaChi)
            </td>
            <td>
                @if(@item.khachHang.LienHe != null)
                {
                <a href="@item.khachHang.LienHe">
                Liên Hệ
                </a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soLuongDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tongTien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.khachHang.MaKhachHang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.khachHang.MaKhachHang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.khachHang.MaKhachHang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var disNext= !Model.KhachHangs.HasNext ? " visibility: hidden" : "";   
    var disPre= !Model.KhachHangs.HasPrevious ? " visibility: hidden" : "";   
}

<ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disPre"
        asp-route-pageIndex="@( Model.KhachHangs.PageIndex - 1 )"
        asp-route-currentFilter="@ViewBag.CurrentFilter"> Previous </a>
    </li>           
        @{     
            for(int i=1; i <= Model.KhachHangs.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if(Model.KhachHangs.TotalPages>=8 && @i>=Model.KhachHangs.PageIndex-2 && @i<=Model.KhachHangs.PageIndex+2)
                {
                    if(@i==Model.KhachHangs.PageIndex-2 && @i>1)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                    if(@i==Model.KhachHangs.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else 
                    {
                        <li class="page-item ">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                    if(@i==Model.KhachHangs.PageIndex+2 && @i<Model.KhachHangs.TotalPages)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                }
                else if( Model.KhachHangs.TotalPages < 8 ) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                     if(@i==Model.KhachHangs.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            asp-route-currentFilter="@ViewBag.CurrentFilter"> @i </a>
                        </li>
                    }
                }         
			}
		}
<li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disNext"
        asp-route-pageIndex="@( Model.KhachHangs.PageIndex + 1 )"
        asp-route-currentFilter="@ViewBag.CurrentFilter"> Next </a>
</li>  
</ul>
