@model ApplicationCore.Entities.BoSuuTap

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
<h3 style="text-align: center;">Bộ sưu tập</h3>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenBoSuuTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenBoSuuTap)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaBoSuuTap" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
