@model ApplicationCore.Entities.BoSuuTap

@{
    ViewData["Title"] = "Details";
}


<div>
<h3 style="text-align: center;">Bộ sưu tập</h3>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenBoSuuTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenBoSuuTap)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaBoSuuTap">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
