@model IEnumerable<ApplicationCore.Entities.BoSuuTap>

@{
    ViewData["Title"] = "Index";
}
<h3 style="text-align: center;">Bộ sưu tập</h3>

<a asp-action="Create">
        <button type="button" class="btn btn-info">
            Tạo bộ sưu tập
        </button>
    </a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenBoSuuTap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenBoSuuTap)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaBoSuuTap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaBoSuuTap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaBoSuuTap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
