@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
body {
  color: black;
  font-family: 'Old Standard TT', serif;
  font-size: 14px;
  font-weight: 400;
}
h1 {
  color: black;
  font-family: 'Old Standard TT', serif;
  font-size: 60px !important;
  font-weight: 700;
  font-style: normal;
}
h2 {
  color: black;
  font-family: 'Old Standard TT', serif;
  font-size: 42px !important;
  font-weight: 700;
}
h3 {
  color: black;
  font-family: 'Old Standard TT', serif;
  font-size: 36px !important;
  font-weight: 700;
}
h4 {
  color: black;
  font-family: 'Old Standard TT', serif;
  font-size: 24px !important;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}
h5 {
  color: black;
  font-family: 'Old Standard TT', serif;
  text-transform: capitalize;
  font-size: 20px !important;
  font-weight: 700;
}
h6 {
  color: black;
  font-size: 16px !important;
  font-family: 'Old Standard TT', serif;
  font-weight: 300;
  text-transform: uppercase;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
}
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #00baba;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 5;
}
.preloader .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.main-menu ul {
  float: right;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 4;
    background: #000000;
    width: 100%;
    padding: 20px 20px 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 4;
    background: #000000;
    width: 100%;
    padding: 20px 20px 30px;
  }
}
@media (max-width: 575.98px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 4;
    background: #000000;
    width: 100%;
    padding: 20px 20px 30px;
  }
}
.main-menu ul li {
  display: inline;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-menu ul li {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-menu ul li {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .main-menu ul li {
    display: block;
  }
}
.main-menu ul li a {
  color: #ffffff;
  font-family: 'Old Standard TT', serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 15px;
}
.main-menu ul li a:hover {
  color: #00baba;
  font-family: 'Old Standard TT', serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 15px;
}
.main-menu ul li:hover ul.sub-menu {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.main-menu ul li ul.sub-menu {
  padding: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 150%;
  left: 30px;
  width: 250px;
  background: #f9f9ff;
  z-index: 2;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.main-menu ul li ul.sub-menu li {
  display: block;
}
.main-menu ul li ul.sub-menu li a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main-menu ul li ul.sub-menu li a:hover {
  color: #00baba;
}
.main-menu2 ul a {
  color: #fff !important;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-menu2 ul a {
    color: #131230 !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-menu2 ul a {
    color: #131230 !important;
  }
}
@media (max-width: 575.98px) {
  .main-menu2 ul a {
    color: #131230 !important;
  }
}
.main-menu2 ul ul.sub-menu a {
  color: #131230 !important;
}
.main-menu2 ul ul.sub-menu a:hover {
  color: #00baba !important;
}
.custom-navbar {
  position: absolute;
  top: -47px;
  right: 15px;
  background: #00baba;
  padding: 7px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  display: none;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-navbar {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .custom-navbar {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .custom-navbar {
    display: block;
  }
}
.custom-navbar span {
  background: #fff;
  display: block;
  width: 30px;
  margin: 6px 0;
  height: 2px;
}
.header-area {
  padding: 20px 0;
  background: #000000;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 80%;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .header-area {
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header-area {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .header-area {
    width: 100%;
  }
}
.header-area2 {
  padding: 30px 0;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.banner-area {
  padding: 400px 0 350px;
  background-color: #b0b0b0;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.banner-area .prime-color {
  color: #00baba;
}
.banner-area .style-change {
  font-style: normal;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner-area {
    padding: 280px 0 200px;
  }
}
@media (max-width: 575.98px) {
  .banner-area {
    padding: 200px 0 140px;
  }
}
.banner-area2 {
  padding: 210px 0 160px;
  background-image: url("../images/about-bg.jpg");
  position: relative;
  z-index: 1;
}
.banner-area2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.7);
  z-index: -1;
}
.banner-area2 p {
  color: #fff;
}
.menu-bg {
  background-image: url("../images/menu-bg.jpg");
}
.contact-bg {
  background-image: url("../images/contact-bg.jpg");
}
.welcome-area .style-change {
  color: #00baba;
  font-style: italic;
}
.welcome-area .welcome-img {
  padding-left: 10%;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .welcome-area .welcome-img {
    padding: 0;
  }
}
@media (max-width: 575.98px) {
  .welcome-area .welcome-img {
    padding: 0;
  }
}
.welcome-area .welcome-text {
  padding-right: 50%;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .welcome-area .welcome-text {
    padding-right: 30%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .welcome-area .welcome-text {
    padding-right: 10%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .welcome-area .welcome-text {
    padding-right: 10%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .welcome-area .welcome-text {
    padding: 0 5%;
  }
}
@media (max-width: 575.98px) {
  .welcome-area .welcome-text {
    padding: 0 5%;
  }
}
.food-area {
  background-image: url("../images/food-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .food-area {
    background-image: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .food-area {
    background-image: none;
  }
}
@media (max-width: 575.98px) {
  .food-area {
    background-image: none;
  }
}
.food-area .food-img {
  overflow: hidden;
}
.food-area .food-img img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.food-area .food-content {
  padding: 30px;
  background: #f9f9ff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color : black;
}
.food-area .food-content .style-change {
  color: #00baba;
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.food-area .food-content p {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.food-area .single-food:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.food-area .single-food:hover .food-content {
  background: #00baba;
}
.food-area .single-food:hover .food-content .style-change {
  color: #131230;
}
.food-area .single-food:hover .food-content p {
  color: #131230;
}
.reservation-area {
  background-image: url("../images/reservation-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.deshes-area span {
  color: #00baba;
}
.deshes-area h1 {
  color: #ffffff;
  font-style: inherit;
  position: relative;
}
.deshes-area h1:after {
  content: "";
  position: absolute;
  top: 45px;
  left: 90px;
  width: 200px;
  height: 1px;
  background: #ffffff;
}
.deshes-area .style-change {
  font-family: 'Old Standard TT', serif;
  font-size: 30px;
  font-weight: 700;
  display: block;
}
.deshes-area .deshes-text {
  padding-left: 90px;
}
@media (max-width: 575.98px) {
  .deshes-area .deshes-text {
    padding-left: 0;
  }
}
.testimonial-area {
  background-image: url("../images/testimonial-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.testimonial-area:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.8);
  z-index: -1;
}
.testimonial-area .section-top2 h3,
.testimonial-area .section-top2 p {
  color: #fff;
}
.testimonial-area .testimonial-slider.owl-carousel .single-slide {
  background: #fff;
  background-image: url("../images/quote.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.testimonial-area .testimonial-slider.owl-carousel .single-slide h5 {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.testimonial-area .testimonial-slider.owl-carousel .single-slide:hover h5 {
  color: #00baba;
}
.testimonial-area .testimonial-slider.owl-carousel img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.testimonial-slider.owl-carousel .owl-nav {
  display: none;
}
.testimonial-slider.owl-carousel .owl-dots {
  display: block;
  position: absolute;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.testimonial-slider.owl-carousel .owl-dots .owl-dot {
  width: 20px;
  height: 5px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0 7px;
}
.testimonial-slider.owl-carousel .owl-dots .owl-dot.active {
  background: #00baba;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .update-area .single-food {
    width: 70%;
    margin: auto;
  }
}
.update-area .single-food .food-content {
  padding: 40px 30px;
  background: #f9f9ff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.update-area .single-food:hover .food-content {
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.table-area {
  background-image: url("../images/table-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.table-area:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.7);
  z-index: -1;
}
.table-area .section-top2 h3,
.table-area .section-top2 p {
  color: #fff;
}
.table-area .input-group {
  width: 30.33%;
  float: left;
  overflow: hidden;
  margin: 0 1.5%;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .table-area .input-group {
    width: 100%;
    float: none;
  }
}
@media (max-width: 575.98px) {
  .table-area .input-group {
    width: 100%;
    float: none;
  }
}
.table-area input {
  border-radius: 0 5px 5px 0;
  border: none;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .table-area input {
    width: 65%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .table-area input {
    width: 70%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .table-area input {
    width: 87%;
  }
}
@media (max-width: 575.98px) {
  .table-area input {
    width: 80%;
  }
}
.table-area .input-group-text {
  background: #fff;
  padding: 14px 20px;
}
.table-area .table-btn {
  clear: both;
}
.footer-widget {
  background: #131230;
}
.footer-widget .single-widget1 {
  padding-right: 30px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-widget .single-widget1 {
    padding-right: 0;
  }
}
.footer-widget .single-widget h5 {
  color: #00baba;
}
.footer-widget .single-widget i {
  color: inherit;
}
.footer-widget2 {
  background: #f9f9ff;
}
.footer-widget2 .single-widget h5 {
  color: #131230;
}
.footer-copyright {
  padding: 30px 0;
  background: #0d0d27;
  color: #fff;
}
.footer-copyright .color {
  color: #00baba;
}
.footer-copyright ul {
  float: right;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-copyright ul {
    float: left;
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .footer-copyright ul {
    float: left;
    margin-top: 20px;
  }
}
.footer-copyright ul li {
  display: inline;
  margin-left: 25px;
}
.footer-copyright ul li i {
  display: inline-block;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer-copyright ul li i:hover {
  color: #00baba;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-copyright ul .no-margin {
    margin-left: 0;
  }
}
@media (max-width: 575.98px) {
  .footer-copyright ul .no-margin {
    margin-left: 0;
  }
}
.footer-copyright2 {
  background: #f9f9ff;
  color: inherit;
}
.footer-copyright2 ul i {
  color: #777 !important;
}
.footer-copyright2 ul i:hover {
  color: #00baba !important;
}
.banner-area.blog-page a,
.banner-area.blog-page span {
  color: #fff;
  text-transform: capitalize;
}
.blog_categorie_area {
  padding-top: 80px;
  padding-bottom: 80px;
}
.categories_post {
  position: relative;
  text-align: center;
  cursor: pointer;
}
.categories_post img {
  max-width: 100%;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .categories_post img {
    width: 100%;
  }
}
.categories_post .categories_details {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgba(1, 7, 16, 0.8);
  color: #fff;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories_post .categories_details h5 {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.categories_post .categories_details p {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0px;
}
.categories_post .categories_details .border_line {
  margin: 10px 0px;
  background: #fff;
  width: 100%;
  height: 1px;
}
.categories_post:hover .categories_details {
  background: rgba(255, 182, 6, 0.7);
}
.blog_item {
  margin-bottom: 40px;
}
.blog_info {
  padding-top: 30px;
}
.blog_info .post_tag {
  padding-bottom: 20px;
}
.blog_info .post_tag a {
  font: 300 14px/21px;
  color: #131230;
}
.blog_info .post_tag a:hover {
  color: #00baba;
}
.blog_info .post_tag a.active {
  color: #00baba;
}
.blog_info .blog_meta li a {
  font: 300 14px/20px;
  color: #777777;
  vertical-align: middle;
  padding-bottom: 12px;
  display: inline-block;
}
.blog_info .blog_meta li a i {
  color: #131230;
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
  line-height: 20px;
  vertical-align: middle;
}
.blog_info .blog_meta li a:hover {
  color: #00baba;
}
.blog_post img {
  max-width: 100%;
}
.blog_details {
  padding-top: 20px;
}
.blog_details h4 {
  font-size: 24px;
  line-height: 36px;
  color: #131230;
  font-weight: 600;
  transition: all 0.3s linear;
}
.blog_details h4:hover {
  color: #00baba;
}
.blog_details p {
  margin-bottom: 26px;
}
.blog_details .template-btn {
  color: #131230 !important;
  padding: 10px 24px !important;
  background: #f9f9ff;
}
.blog_details .template-btn:hover {
  color: #fff !important;
  background: #00baba;
  border: 5px solid transparent;
}
.blog_right_sidebar {
  border: 1px solid #eee;
  background: #f9f9ff;
  padding: 30px;
}
.blog_right_sidebar .widget_title {
  font-size: 18px;
  line-height: 25px;
  background: #00baba;
  text-align: center;
  color: #fff;
  padding: 8px 0px;
  margin-bottom: 30px;
}
.blog_right_sidebar .search_widget .input-group .form-control {
  font-size: 14px;
  line-height: 29px;
  border: 0px;
  width: 100%;
  font-weight: 300;
  color: #fff;
  padding-left: 20px;
  border-radius: 45px;
  z-index: 0;
  background: #00baba;
}
.blog_right_sidebar .search_widget .input-group .form-control:focus {
  box-shadow: none;
}
.blog_right_sidebar .search_widget .input-group .btn-default {
  position: absolute;
  right: 20px;
  background: transparent;
  border: 0px;
  box-shadow: none;
  font-size: 14px;
  color: #fff;
  padding: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.blog_right_sidebar .author_widget {
  text-align: center;
}
.blog_right_sidebar .author_widget h5 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.blog_right_sidebar .author_widget p {
  margin-bottom: 0px;
}
.blog_right_sidebar .author_widget .social_icon {
  padding: 7px 0px 15px;
}
.blog_right_sidebar .author_widget .social_icon a {
  font-size: 14px;
  color: #131230;
  transition: all 0.2s linear;
}
.blog_right_sidebar .author_widget .social_icon a + a {
  margin-left: 20px;
}
.blog_right_sidebar .author_widget .social_icon a:hover {
  color: #00baba;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body {
  justify-content: center;
  align-self: center;
  padding-left: 20px;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  transition: all 0.3s linear;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body h5:hover {
  color: #00baba;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body p {
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 0px;
}
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
  margin-top: 20px;
}
.blog_right_sidebar .post_category_widget .cat-list li {
  border-bottom: 2px dotted #eee;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px;
}
.blog_right_sidebar .post_category_widget .cat-list li a {
  font-size: 14px;
  line-height: 20px;
  color: #777;
}
.blog_right_sidebar .post_category_widget .cat-list li a p {
  margin-bottom: 0px;
}
.blog_right_sidebar .post_category_widget .cat-list li + li {
  padding-top: 15px;
}
.blog_right_sidebar .post_category_widget .cat-list li:hover {
  border-color: #00baba;
}
.blog_right_sidebar .post_category_widget .cat-list li:hover a {
  color: #00baba;
}
.blog_right_sidebar .newsletter_widget {
  text-align: center;
}
.blog_right_sidebar .newsletter_widget .form-group {
  margin-bottom: 8px;
}
.blog_right_sidebar .newsletter_widget .input-group-prepend {
  margin-right: -1px;
}
.blog_right_sidebar .newsletter_widget .input-group-text {
  background: #fff;
  border-radius: 0px;
  vertical-align: top;
  font-size: 12px;
  line-height: 36px;
  padding: 0px 0px 0px 15px;
  border: 1px solid #eeeeee;
  border-right: 0px;
}
.blog_right_sidebar .newsletter_widget .form-control {
  font-size: 12px;
  line-height: 24px;
  color: #cccccc;
  border: 1px solid #eeeeee;
  border-left: 0px;
  border-radius: 0px;
}
.blog_right_sidebar .newsletter_widget .form-control:focus {
  outline: none;
  box-shadow: none;
}
.blog_right_sidebar .newsletter_widget .bbtns {
  color: #fff;
  background: #00baba;
  font-size: 12px;
  line-height: 38px;
  display: inline-block;
  font-weight: 500;
  padding: 0px 24px 0px 24px;
  border-radius: 0;
}
.blog_right_sidebar .newsletter_widget .text-bottom {
  font-size: 12px;
}
.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block;
}
.blog_right_sidebar .tag_cloud_widget ul li a {
  color: #131230;
  display: inline-block;
  border: 1px solid #eee;
  background: #fff;
  padding: 5px 13px;
  margin-bottom: 8px;
  transition: all 0.3s ease 0s;
  font-size: 12px;
}
.blog_right_sidebar .tag_cloud_widget ul li a:hover {
  background: #00baba;
  color: #fff;
}
.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eee;
  margin: 30px 0px;
}
.blog-pagination {
  padding-top: 25px;
  padding-bottom: 95px;
}
.blog-pagination .page-link {
  border-radius: 0;
}
.blog-pagination .page-item {
  border: none;
}
.page-link {
  background: transparent;
  font-weight: 400;
}
.blog-pagination .page-item.active .page-link {
  background-color: #00baba;
  border-color: transparent;
  color: #fff;
}
.blog-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8a8a8a;
  border: none;
}
.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
  border-radius: 0;
}
.blog-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00baba;
  border-color: #eee;
}
.single-post .social-links {
  padding-top: 10px;
}
.single-post .social-links li {
  display: inline-block;
  margin-bottom: 10px;
}
.single-post .social-links li a {
  color: #cccccc;
  padding: 7px;
  font-size: 14px;
  transition: all 0.2s linear;
}
.single-post .social-links li a:hover {
  color: #131230;
}
.single-post .blog_details {
  padding-top: 26px;
}
.single-post .blog_details p {
  margin-bottom: 10px;
}
.single-post .quotes {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 24px 35px 24px 30px;
  background-color: #fff;
  box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
  font-size: 14px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}
.single-post .arrow {
  position: absolute;
}
.single-post .arrow .lnr {
  font-size: 20px;
  font-weight: 600;
}
.single-post .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 991px) {
  .single-post .sidebar-widgets {
    padding-bottom: 0px;
  }
}
.comments-area {
  background: #fafaff;
  border: 1px solid #eee;
  padding: 50px 30px;
  margin-top: 50px;
}
@media (max-width: 414px) {
  .comments-area {
    padding: 50px 8px;
  }
}
.comments-area h4 {
  text-align: center;
  margin-bottom: 50px;
  color: #131230;
  font-size: 18px;
}
.comments-area h5 {
  font-size: 16px;
  margin-bottom: 0px;
}
.comments-area a {
  color: #131230;
}
.comments-area .comment-list {
  padding-bottom: 48px;
}
.comments-area .comment-list:last-child {
  padding-bottom: 0px;
}
.comments-area .comment-list.left-padding {
  padding-left: 25px;
}
@media (max-width: 413px) {
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }
  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }
  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}
.comments-area .thumb {
  margin-right: 20px;
}
.comments-area .date {
  font-size: 13px;
  color: #cccccc;
  margin-bottom: 13px;
}
.comments-area .comment {
  color: #777777;
  margin-bottom: 0px;
}
.comments-area .btn-reply {
  background-color: #fff;
  color: #131230;
  border: 1px solid #eee;
  padding: 5px 18px;
  font-size: 12px;
  display: block;
  font-weight: 600;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.comments-area .btn-reply:hover {
  background-color: #00baba;
  color: #fff !important;
}
.comment-form {
  background: #fafaff;
  text-align: center;
  border: 1px solid #eee;
  padding: 47px 30px 43px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.comment-form h4 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #131230;
}
.comment-form .name {
  padding-left: 0px;
}
@media (max-width: 767px) {
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
}
.comment-form .email {
  padding-right: 0px;
}
@media (max-width: 991px) {
  .comment-form .email {
    padding-left: 0px;
  }
}
.comment-form .form-control {
  padding: 8px 20px;
  background: #fff;
  border: none;
  border-radius: 0px;
  width: 100%;
  font-size: 14px;
  color: #777777;
  border: 1px solid transparent;
}
.comment-form .form-control:focus {
  box-shadow: none;
  border: 1px solid #eee;
}
.comment-form textarea.form-control {
  height: 140px;
  resize: none;
}
.comment-form ::-webkit-input-placeholder {
  font-size: 13px;
  color: #777;
}
.comment-form ::-moz-placeholder {
  font-size: 13px;
  color: #777;
}
.comment-form :-ms-input-placeholder {
  font-size: 13px;
  color: #777;
}
.comment-form :-moz-placeholder {
  font-size: 13px;
  color: #777;
}
.footer-area.footer {
  background: #131230;
}
.footer-area.footer h5,
.footer-area.footer p {
  color: #fff;
}
.footer-area.footer .footer-copyright span {
  color: #fff;
}
#mapBox {
  width: 100%;
  height: 420px;
  overflow: hidden;
}
.info-text h5 {
  text-transform: inherit;
}
.into-icon i {
  font-size: 20px;
  color: #00baba;
  margin-right: 20px;
}
.contact-form form .left,
.commentform-area form .left {
  width: 48%;
  float: left;
  overflow: hidden;
  margin-right: 4%;
}
@media (max-width: 575.98px) {
  .contact-form form .left,
  .commentform-area form .left {
    width: 100%;
    float: none;
  }
}
.contact-form form .left input,
.commentform-area form .left input {
  width: 100%;
  border: 1px solid #eee;
  padding: 12px 20px;
  margin-bottom: 20px;
}
.contact-form form .right,
.commentform-area form .right {
  width: 48%;
  overflow: hidden;
}
@media (max-width: 575.98px) {
  .contact-form form .right,
  .commentform-area form .right {
    width: 100%;
    float: none;
  }
}
.contact-form form .right textarea,
.commentform-area form .right textarea {
  width: 100%;
  border: 1px solid #eee;
  padding: 12px 20px;
}
.contact-form form button,
.commentform-area form button {
  margin-top: 20px;
  float: right;
}
@media (max-width: 575.98px) {
  .contact-form form button,
  .commentform-area form button {
    float: left;
  }
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.sample-text-area {
  padding: 100px 0px;
}
.sample-text-area .title_color {
  margin-bottom: 30px;
}
.sample-text-area p {
  line-height: 26px;
}
.sample-text-area p b {
  font-weight: bold;
  color: #00baba;
}
.sample-text-area p i {
  color: #00baba;
  font-style: italic;
}
.sample-text-area p sup {
  color: #00baba;
  font-style: italic;
}
.sample-text-area p sub {
  color: #00baba;
  font-style: italic;
}
.sample-text-area p del {
  color: #00baba;
}
.sample-text-area p u {
  color: #00baba;
}
.elements_button .title_color {
  margin-bottom: 30px;
  color: #131230;
}
.title_color {
  color: #131230;
}
.button-group-area {
  margin-top: 15px;
}
.button-group-area:nth-child(odd) {
  margin-top: 40px;
}
.button-group-area:first-child {
  margin-top: 0px;
}
.button-group-area .theme_btn {
  margin-right: 10px;
}
.button-group-area .white_btn {
  margin-right: 10px;
}
.button-group-area .link {
  text-decoration: underline;
  color: #131230;
  background: transparent;
}
.button-group-area .link:hover {
  color: #fff;
}
.button-group-area .disable {
  background: transparent;
  color: #007bff;
  cursor: not-allowed;
}
.button-group-area .disable:before {
  display: none;
}
.primary {
  background: #52c5fd;
}
.primary:before {
  background: #2faae6;
}
.success {
  background: #4cd3e3;
}
.success:before {
  background: #2ebccd;
}
.info {
  background: #38a4ff;
}
.info:before {
  background: #298cdf;
}
.warning {
  background: #f4e700;
}
.warning:before {
  background: #e1d608;
}
.danger {
  background: #f54940;
}
.danger:before {
  background: #e13b33;
}
.primary-border {
  background: transparent;
  border: 1px solid #52c5fd;
  color: #52c5fd;
}
.primary-border:before {
  background: #52c5fd;
}
.success-border {
  background: transparent;
  border: 1px solid #4cd3e3;
  color: #4cd3e3;
}
.success-border:before {
  background: #4cd3e3;
}
.info-border {
  background: transparent;
  border: 1px solid #38a4ff;
  color: #38a4ff;
}
.info-border:before {
  background: #38a4ff;
}
.warning-border {
  background: #fff;
  border: 1px solid #f4e700;
  color: #f4e700;
}
.warning-border:before {
  background: #f4e700;
}
.danger-border {
  background: transparent;
  border: 1px solid #f54940;
  color: #f54940;
}
.danger-border:before {
  background: #f54940;
}
.link-border {
  background: transparent;
  border: 1px solid #00baba;
  color: #00baba;
}
.link-border:before {
  background: #00baba;
}
.radius {
  border-radius: 3px;
}
.circle {
  border-radius: 20px;
}
.arrow span {
  padding-left: 5px;
}
.e-large {
  line-height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.large {
  line-height: 45px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.medium {
  line-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.small {
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.general {
  line-height: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.generic-banner {
  margin-top: 60px;
  text-align: center;
}
.generic-banner .height {
  height: 600px;
}
@media (max-width: 767.98px) {
  .generic-banner .height {
    height: 400px;
  }
}
.generic-banner .generic-banner-content h2 {
  line-height: 1.2em;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content h2 br {
    display: none;
  }
}
.generic-banner .generic-banner-content p {
  text-align: center;
  font-size: 16px;
}
@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content p br {
    display: none;
  }
}
.generic-content h1 {
  font-weight: 600;
}
.about-generic-area {
  background: #fff;
}
.about-generic-area p {
  margin-bottom: 20px;
}
.white-bg {
  background: #fff;
}
.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee;
}
.switch-wrap {
  margin-bottom: 10px;
}
.switch-wrap p {
  margin: 0;
}
.sample-text-area {
  padding: 100px 0 70px 0;
}
.sample-text {
  margin-bottom: 0;
}
.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}
.typo-list {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .typo-sec {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .element-wrap {
    margin-top: 30px;
  }
}
b,
sup,
sub,
u,
del {
  color: #f8b600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #777777;
}
.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}
.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}
.button-group-area .genric-btn:last-child {
  margin-right: 0;
}
.circle {
  border-radius: 20px;
}
.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.genric-btn:focus {
  outline: none;
}
.genric-btn.e-large {
  padding: 0 40px;
  line-height: 50px;
}
.genric-btn.large {
  line-height: 45px;
}
.genric-btn.medium {
  line-height: 30px;
}
.genric-btn.small {
  line-height: 25px;
}
.genric-btn.radius {
  border-radius: 3px;
}
.genric-btn.circle {
  border-radius: 20px;
}
.genric-btn.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.genric-btn.arrow span {
  margin-left: 10px;
}
.genric-btn.default {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}
.genric-btn.default:hover {
  border: 1px solid #f9f9ff;
  background: #fff;
}
.genric-btn.default-border {
  border: 1px solid #f9f9ff;
  background: #fff;
}
.genric-btn.default-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}
.genric-btn.primary {
  color: #fff;
  background: #00baba;
  border: 1px solid transparent;
}
.genric-btn.primary:hover {
  color: #f8b600;
  border: 1px solid #f8b600;
  background: #fff;
}
.genric-btn.primary-border {
  color: #f8b600;
  border: 1px solid #f8b600;
  background: #fff;
}
.genric-btn.primary-border:hover {
  color: #fff;
  background: #f8b600;
  border: 1px solid transparent;
}
.genric-btn.success {
  color: #fff;
  background: #00ba5d;
  border: 1px solid transparent;
}
.genric-btn.success:hover {
  color: #4cd3e3;
  border: 1px solid #00ba5d;
  background: #fff;
}
.genric-btn.success-border {
  color: #00ba5d;
  border: 1px solid #00ba5d;
  background: #fff;
}
.genric-btn.success-border:hover {
  color: #fff;
  background: #00ba5d;
  border: 1px solid transparent;
}
.genric-btn.info {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}
.genric-btn.info:hover {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}
.genric-btn.info-border {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}
.genric-btn.info-border:hover {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}
.genric-btn.warning {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}
.genric-btn.warning:hover {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}
.genric-btn.warning-border {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}
.genric-btn.warning-border:hover {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}
.genric-btn.danger {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}
.genric-btn.danger:hover {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}
.genric-btn.danger-border {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}
.genric-btn.danger-border:hover {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}
.genric-btn.link {
  color: #222222;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent;
}
.genric-btn.link:hover {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
}
.genric-btn.link-border {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
  text-decoration: underline;
}
.genric-btn.link-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}
.genric-btn.disable {
  color: #222222, 0.3;
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed;
}
.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #fff;
  border-left: 2px solid #00baba;
}
@media (max-width: 991px) {
  .progress-table-wrap {
    overflow-x: scroll;
  }
}
.progress-table {
  background: #fff;
  padding: 15px 0px 30px 0px;
  min-width: 800px;
}
.progress-table .serial {
  width: 11.83%;
  padding-left: 30px;
}
.progress-table .country {
  width: 28.07%;
}
.progress-table .visit {
  width: 19.74%;
}
.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px;
}
.progress-table .table-head {
  display: flex;
}
.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
  color: #222222;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}
.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex;
}
.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
  display: flex;
  align-items: center;
}
.progress-table .table-row .country img {
  margin-right: 15px;
}
.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent;
}
.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px;
}
.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6;
}
.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686;
}
.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359;
}
.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf;
}
.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf;
}
.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6;
}
.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7;
}
.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686;
}
.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single-gallery-image:hover {
  opacity: 0.8;
}
.list-style {
  width: 14px;
  height: 14px;
}
.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}
.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #f8b600;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}
.ordered-list {
  margin-left: 30px;
}
.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important;
}
.ordered-list li span {
  font-weight: 300;
  color: #777777;
}
.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important;
}
.ordered-list-alpha li span {
  font-weight: 300;
  color: #777777;
}
.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important;
}
.ordered-list-roman li span {
  font-weight: 300;
  color: #777777;
}
.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}
.single-input:focus {
  outline: none;
}
.input-group-icon {
  position: relative;
}
.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}
.input-group-icon .icon i {
  color: #797979;
}
.input-group-icon .single-input {
  padding-left: 45px;
}
.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none;
}
.single-textarea:focus {
  outline: none;
}
.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}
.single-input-primary:focus {
  outline: none;
  border: 1px solid #f8b600;
}
.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}
.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55;
}
.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}
.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359;
}
.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.default-switch input + label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f8b600;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.default-switch input:checked + label {
  left: 19px;
}
.single-element-widget {
  margin-bottom: 30px;
}
.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.primary-switch input:checked + label:after {
  left: 19px;
}
.primary-switch input:checked + label:before {
  background: #f8b600;
}
.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.confirm-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.confirm-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.confirm-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.confirm-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.confirm-switch input:checked + label:after {
  left: 19px;
}
.confirm-switch input:checked + label:before {
  background: #4cd3e3;
}
.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.primary-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.primary-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}
.single-defination h4 {
  color: #131230;
}
.primary-checkbox input:checked + label {
  background: url(../images/elements/primary-check.png) no-repeat center
    center/cover;
  border: none;
}
.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.confirm-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.confirm-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}
.confirm-checkbox input:checked + label {
  background: url(../images/elements/success-check.png) no-repeat center
    center/cover;
  border: none;
}
.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.disabled-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.disabled-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}
.disabled-checkbox input:disabled {
  cursor: not-allowed;
  z-index: 3;
}
.disabled-checkbox input:checked + label {
  background: url(../images/elements/disabled-check.png) no-repeat center
    center/cover;
  border: none;
}
.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.primary-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.primary-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}
.primary-radio input:checked + label {
  background: url(../images/elements/primary-radio.png) no-repeat center
    center/cover;
  border: none;
}
.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.confirm-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.confirm-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}
.confirm-radio input:checked + label {
  background: url(../images/elements/success-radio.png) no-repeat center
    center/cover;
  border: none;
}
.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.disabled-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.disabled-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}
.disabled-radio input:disabled {
  cursor: not-allowed;
  z-index: 3;
}
.unordered-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.ordered-list {
  list-style: none;
  padding: 0px;
}
.disabled-radio input:checked + label {
  background: url(../images/elements/disabled-radio.png) no-repeat center
    center/cover;
  border: none;
}
.default-select {
  height: 40px;
}
.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #fff;
  padding-left: 20px;
  padding-right: 40px;
}
.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}
.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px;
}
.default-select .nice-select .list .option.selected {
  color: #f8b600;
  background: transparent;
}
.default-select .nice-select .list .option:hover {
  color: #f8b600;
  background: transparent;
}
.default-select .current {
  margin-right: 50px;
  font-weight: 300;
}
.default-select .nice-select::after {
  right: 20px;
}
@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px;
  }
}
.form-select {
  height: 40px;
  width: 100%;
}
.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff !important;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%;
}
.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}
.mt-10 {
  margin-top: 10px;
}
.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px;
}
.form-select .nice-select .list .option.selected {
  color: #f8b600;
  background: transparent;
}
.form-select .nice-select .list .option:hover {
  color: #f8b600;
  background: transparent;
}
.form-select .current {
  margin-right: 50px;
  font-weight: 300;
}
.form-select .nice-select::after {
  right: 20px;
}
.page_link a {
  color: #fff;
}
.template-btn {
  color: #131230;
  background: #00baba;
  font-family: 'Old Standard TT', serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid transparent;
  display: inline-block;
  padding: 12px 30px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.template-btn:hover {
  color: #00baba;
  background: transparent;
  border: 3px solid #00baba;
}
.template-btn2:hover {
  color: #00baba;
}
.template-btn3 {
  color: #131230;
  font-family: 'Old Standard TT', serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.template-btn3 span {
  position: absolute;
  top: 0;
  left: 110%;
  color: #131230;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.template-btn3:hover {
  color: #131230;
}
.template-btn3:hover span {
  color: #00baba;
  left: 115%;
}
.section-padding {
  padding: 130px 0;
  background-color: #000000;
}
.section-padding2 {
  padding-top: 130px;
  background-color: #000000;
}
.section-padding3 {
  padding-bottom: 130px;
}
.section-padding4 {
  padding: 130px 0 200px;
}
.section-top {
  margin-bottom: 80px;
}
.section-top .style-change {
  color: #00baba;
  font-style: italic;
}
.section-top2 {
  margin-bottom: 80px;
}
.section-top2 span {
  color: #00baba;
}
