@model ApplicationCore.ViewModels.ThongTinNhapHangCreateVM

@{
    ViewData["Title"] = "Create";
}
@section jsFooter
{
}
<h3 style="text-align: center;">Nhập hàng</h3>


<h4 style="color:black">Chi tiết Nhập hàng</h4>
<hr />
<div class="container" style="color:black">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h6 style="color: black;">Nhập thông tin chi tiết nhập hàng</h6>
                </div>
                <div class="card-body">
                    <form asp-action="Create" >
                        <div class="form-group">
                            <label class="control-label">Tên Sản Phẩm</label>
                            <select asp-for="chiTietNhapHangVM.MaSanPham" class="form-control" >
                                @foreach (var item in Model.SanPhams)
                                {
                                    <option value="@item.MaSanPham">@item.TenSanPham-@item.Mau</option>
                                }
                            </select>
                        </div>
                        @* NhapTheo ? *@
                        <div class="form-group" id="size-ri">
                            <label class="control-label">Nhập hàng theo: </label>
                            <select class="form-control" id="btn-choise">
                                <option value="Size" selected>Size</option>
                                <option value="Ri">Ri</option>
                            </select>
                            <span asp-validation-for="sanPham.Size" class="text-danger"></span>
                        </div>
                        @* Nhập theo size *@
                        <div class="form-group" id="size" style="visibility: visible;">
                            <label class="control-label">Size</label>
                            <select asp-for="chiTietNhapHangVM.Size" id="select-size" class="form-control" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <span asp-validation-for="sanPham.Size" class="text-danger"></span>
                        </div>
                        @* Nhập theo ri *@
                        <div class="form-group" id="ri" style="visibility: hidden;" >
                            <label class="control-label">Ri</label>
                            <select asp-for="chiTietNhapHangVM.Ri" id="select-ri" style="" class="form-control" >
                                <option value="1-4">1-4</option>
                                <option value="1-8">1-8</option>
                                <option value="1-12">1-12</option>
                                <option value="5-8">5-8</option>
                                <option value="9-12">9-12</option>
                            </select>
                            <span asp-validation-for="sanPham.Size" class="text-danger"></span>
                        </div>
                         <div class="form-group" >
                            <label class="control-label">Số lượng</label>
                            <input asp-for="chiTietNhapHangVM.SoLuong" class="form-control" min="1"  required=""/>
                        </div>
                        <div class="form-group" style="margin-left:28%">
                            <input type = "submit" value="Thêm Chi tiết" class="btn btn-primary" />
                        </div>
                     </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header"><h6 style="color: black;">Thông tin đơn hàng</h6></div>
                <div class="card-body">
                   <table class="table ">
                       <thead class="thead-dark">
                           <th>Tên sản phẩm</th>
                           <th>Ri/Size</th>
                           <th>Số lượng</th>   
                           <th></th>          
                       </thead>
                       <tbody>  
                            @for(int i = 0; i < Model.ListChiTietNhapHangs.Count; i++){
                                <tr>
                                    <td>@Model.ListChiTietNhapHangs[i].TenSanPham - @Model.ListChiTietNhapHangs[i].Mau </td>
                                    @if(@Model.ListChiTietNhapHangs[i].Ri != null)
                                    {
                                    <td>@Model.ListChiTietNhapHangs[i].Ri (Ri)</td>
                                    }
                                    @if(@Model.ListChiTietNhapHangs[i].Size.ToString() != "0")
                                    {
                                    <td>@Model.ListChiTietNhapHangs[i].Size (Size)</td>
                                    }
                                    <td>@Model.ListChiTietNhapHangs[i].SoLuong</td>
                                    <td>
                                        <form asp-action="Remove" asp-controller="ThongTinNhapHang" method="post">
                                            <input name="i" value="@i" type="hidden" />
                                            <input type="submit" class="btn btn-danger" value="Xóa"/>
                                        </form>
                                    </td>
                                </tr>
                            }
                            <tr>
                            </tr>
                       </tbody> 
                       
                   </table>
                </div>
                 <div class="card-footer">
                     <form asp-action="CreateTTNH" asp-controller="ThongTinNhapHang" method="post">
                       <div class="form-group" style="margin-left:44%">
                            <input type = "submit" value="Nhập hàng" class="btn btn-primary" />
                        </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
