@model IEnumerable<ApplicationCore.ViewModels.ChiTietNhapHangVM>
@{
    ViewData["Title"] = "Details";
}

<h3 style="text-align: center;">Nhập hàng</h3>


<div>
    <h4>Chi tiết đơn hàng</h4>
    <hr />
   <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                Size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            @if(@item.Ri != null)
            {
            <td>@Html.DisplayFor(modelItem => item.Ri)</td>
            }
            @if(@item.Size.ToString() != "0")
            {
            <td>@Html.DisplayFor(modelItem => item.Size)</td>
            }
            
        </tr>
}
    </tbody>
</table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
