@model ApplicationCore.Entities.ThongTinNhapHang

@{
    ViewData["Title"] = "Edit";
}

<h3 style="text-align: center;">Nhập hàng</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNhapHang" class="control-label"></label>
                <input asp-for="MaNhapHang" class="form-control" />
                <span asp-validation-for="MaNhapHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNhanVien" class="control-label"></label>
                <input asp-for="MaNhanVien" class="form-control" />
                <span asp-validation-for="MaNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayNhapHang" class="control-label"></label>
                <input asp-for="NgayNhapHang" class="form-control" />
                <span asp-validation-for="NgayNhapHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
