@model ApplicationCore.ViewModels.ThongTinNhapHangIndexVM

@{
    ViewData["Title"] = "Index";
}

<h3 style="text-align: center;">Nhập hàng</h3>


<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-info">
            Nhập hàng
        </button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã nhập hàng
            </th>
            <th>
                Mã nhân viên
            </th>
            <th>
                Ngày nhập
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ThongTinNhapHangs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhapHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhapHang)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MaNhapHang">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
</table>
@{
    var disNext= !Model.ThongTinNhapHangs.HasNext ? " visibility: hidden" : "";   
    var disPre= !Model.ThongTinNhapHangs.HasPrevious ? " visibility: hidden" : "";   
}

<ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disPre"
        asp-route-pageIndex="@( Model.ThongTinNhapHangs.PageIndex - 1 )"
         > Previous </a>
    </li>           
        @{     
            for(int i=1; i <= Model.ThongTinNhapHangs.TotalPages; i++)
            {
                //Nếu số tổng số trang >=8 thì sẽ hiện ... và sẽ hiện trang : i-2 , i-1 , i , i+1 ,i+2
                if(Model.ThongTinNhapHangs.TotalPages>=8 && @i>=Model.ThongTinNhapHangs.PageIndex-2 && @i<=Model.ThongTinNhapHangs.PageIndex+2)
                {
                    if(@i==Model.ThongTinNhapHangs.PageIndex-2 && @i>1)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                    if(@i==Model.ThongTinNhapHangs.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else 
                    {
                        <li class="page-item ">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                            >@i </a>
                        </li>
                    }
                    if(@i==Model.ThongTinNhapHangs.PageIndex+2 && @i<Model.ThongTinNhapHangs.TotalPages)
                    {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                }
                else if( Model.ThongTinNhapHangs.TotalPages < 8 ) //Nếu số tổng số trang <8 thì sẽ hiện hết các trang
                {
                     if(@i==Model.ThongTinNhapHangs.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link "> @i </a>
                        </li>   
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                            asp-action="Index"
                            asp-route-pageIndex="@i"
                             > @i </a>
                        </li>
                    }
                }         
			}
		}
<li class="page-item">
        <a asp-action="Index"  class="page-link" style="@disNext"
        asp-route-pageIndex="@( Model.ThongTinNhapHangs.PageIndex + 1 )"
        ></a> Next </a>
</li>
</ul>