﻿@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="~/img/logo/logo3.png" rel="icon">
  <title>MeMoMay</title>
  <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="~/css/ruang-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="~/assets/css/animate-3.7.0.css">
  <link rel="stylesheet" href="~/assets/css/font-awesome-4.7.0.min.css">
  <link rel="stylesheet" href="~/assets/css/bootstrap-4.1.3.min.css">
  <link rel="stylesheet" href="~/assets/css/owl-carousel.min.css">
  <link rel="stylesheet" href="~/assets/css/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="~/assets/css/style.css">
  @* <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script> *@
	<script src="~/assets/js/vendor/bootstrap-4.1.3.min.js"></script>
  @* <script src="~/assets/js/vendor/wow.min.js"></script> *@
  @* <script src="~/assets/js/vendor/owl-carousel.min.js"></script> *@
  @* <script src="~/assets/js/vendor/jquery.datetimepicker.full.min.js"></script> *@
  @* <script src="~/assets/js/main.js"></script> *@
  @* <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script> *@
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" style="height: 70" asp-controller="Home" asp-action="Index">
        <div class="sidebar-brand-icon">
          <img src="~/img/logo/logo3.jpg" style="height: auto">
        </div>
        <div class="sidebar-brand-text mx-3">Mẹ Mơ May</div>
      </a>
      <div class="sidebar-heading" style="margin-top: 10px;">
        Menu
      </div>
      <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="DonHang">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Quản lý đơn hàng</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="SanPham">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Quản lý sản phẩm</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="BoSuuTap">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Quản lý bộ sưu tập</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="KhachHang">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Quản lý khách hàng</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="ThongTinNhapHang">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Quản lý nhập hàng</span>
        </a>
      </li>
      @if(@Context.Session.GetString("VaiTro") != "Member" )
      {
        <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="NhanVien">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Quản lý nhân sự</span>
        </a>  
        </li>
        <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="ThongKe">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Thống kê</span>
        </a>
        </li>
      }
      
      <hr class="sidebar-divider">
      <div class="version" >1.0.0</div>
    </ul>
    
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
            <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="~/img/boy.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">@Context.Session.GetString("TenNhanVien")</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" asp-action="Edit" asp-controller="NhanVien" asp-route-id="@Context.Session.GetString("MaNhanVien")">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a asp-controller="Account" asp-action="Logout" class="dropdown-item">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400">Đăng xuất</i>
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->
            @RenderBody()
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span style="color:black">copyright &copy; 2019 - developed by
              <b><a href="https://www.facebook.com/profile.php?id=100009073476722" target="_blank">Minh Hien</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>
</div>
</div>
  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  @RenderSection("Scripts", required: false)
  @* <script src="~/vendor/jquery/jquery.min.js"></script> *@
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  @* <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script> *@
  <script src="~/js/ruang-admin.min.js"></script>
  <script src="~/vendor/chart.js/Chart.min.js"></script>
  <script src="~/js/demo/chart-area-demo.js"></script>  
  <script src="~/js/Controller/donHangController.js"></script>
  <script src="~/js/Controller/nhapHangController.js"></script>
  <script >
    //drop down menu 
    $(document).ready(function() {
     $(".dropdown-toggle").dropdown();
    });
  </script>
  @RenderSection("jsFooter", required: false)
</body>

</html>